html {
  background-image: url('/beeple.jpg');
}

div{
  position: absolute;
  top: 0;
  margin: auto;
  right: 0;
  bottom: 0;
  left: 350px;
  height: 100px;
}

iframe {
  position: relative;
  display: none;

}

.btn {
  background: #ff0000;
  background-image: -webkit-linear-gradient(top, #ff0000, #000000);
  background-image: -moz-linear-gradient(top, #ff0000, #000000);
  background-image: -ms-linear-gradient(top, #ff0000, #000000);
  background-image: -o-linear-gradient(top, #ff0000, #000000);
  background-image: linear-gradient(to bottom, #ff0000, #000000);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  text-shadow: 6px 0px 13px #ffffff;
  -webkit-box-shadow: 6px 6px 3px #000000;
  -moz-box-shadow: 6px 6px 3px #000000;
  box-shadow: 6px 6px 3px #000000;
  font-family: Georgia;
  color: #000000;
  font-size: 60px;
  padding: 15px 20px 15px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #3cedfa;
  text-decoration: none;
}
